<h1>Cafes#index</h1>
<p>Find me in app/views/cafes/index.html.erb</p>

<p>新規登録</p>

<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

<h2>gmap</h2>
<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<%= javascript_pack_tag 'home/index' %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['MAP_API_KEY']%>&callback=initMap" async defer></script>
