@import "bootstrap";
.header-flex {
  float: right;
  margin: 30px;
  margin-right: 600px;
}

.header {
  overflow: hidden;
}

#roaster {
  text-align: center;
}

#map {
  width: 1000px;
  height: 600px;
  margin: auto;
}

.alert-success {
  width: 1000px;
  margin: auto;
  text-align: center;
}
