// Place all the styles related to the cafes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#cafe_name {
  width: 300px;
  height: 40px;
}

#cafe_address {
  width: 300px;
  height: 40px;
}
